@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background: #eeeef0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > * {
  margin: 10px 0;
}

.info {
  width: 800px;
  height: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 8px;
}
#picture {
  background-image: url("./images/actors.png");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px -8px #49a6ea;
}
.accessory {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #49a6ea;
  color: white;
  font-size: 50px;
  text-align: center;
  position: absolute;
  bottom: 450px;
}
.profession {
  color: #49a6ea;
  font-weight: 700;
}

#left {
  color: #49a6ea;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
}
#right {
  color: #49a6ea;
  transform: scaleX(-1);
  display: inline-block;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.description {
  color: black;
  text-align: center;
  max-width: 500px;
  line-height: 1.5;
}

button {
  width: 100px;
  height: 30px;
  font-size: 10px;
  font-weight: 700;
  padding: 0 10px;
  border-color: #49a6ea;
  border-radius: 8px;
  background-color: rgb(203, 209, 218);
  color: #49a6ea;
}
.header {
  border-bottom: 3px solid #49a6ea;
  max-width: fit-content;
  margin-top: 30px;
}
