* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
body {
  background: #eeeef0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > * {
  margin: 10px 0;
}

.info {
  width: 700px;
  height: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
#picture {
  background-image: url("./images/beans.jpeg");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px -8px #49a6ea;
}

#left {
  background: none;
  border: none;
}
#right {
  background: none;
  border: none;
}
.description {
  color: #555;
  text-align: center;
  max-width: 500px;
  line-height: 1.5;
}

button {
  width: 100px;
  height: 30px;
  font-size: 10px;
  padding: 0 10px;
  border-color: #49a6ea;
  border-radius: 8px;
  background-color: rgb(203, 209, 218);
  color: #49a6ea;
}
.header {
  border-bottom: 3px solid #49a6ea;
  max-width: fit-content;
  margin-top: 30px;
}
